Adafruit-Blinka==8.46.0
adafruit-circuitpython-busdevice==5.2.9
adafruit-circuitpython-connectionmanager==3.1.1
adafruit-circuitpython-pixelbuf==2.0.4
adafruit-circuitpython-requests==4.1.4
adafruit-circuitpython-typing==1.10.3
Adafruit-PlatformDetect==3.72.0
Adafruit-PureIO==1.1.11
binho-host-adapter==0.1.6
blinker==1.8.2
click==8.1.7
Flask==3.0.3
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.0.0
pyftdi==0.55.4
pygame==2.6.0
PyOpenGL==3.1.7
pyserial==3.5
python-dotenv==1.0.1
pyusb==1.2.1
typing_extensions==4.12.2
Werkzeug==3.0.3
opencv-python==4.10.0.84
