:root {
    --md-primary-fg-color:        #5385f4;
    --md-primary-fg-color--light: #21282f;
    --md-primary-fg-color--dark:  #21282f;
    --md-accent-bg-color: #21282f;
    --md-accent-fg-color: #6a95b0;
}